
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



header {

    width: 100%;
    height: 600px;
    background: gray; fallback;
    background: webkit-linear-gradient (to right, #4b4950, #3c383f);  Chrome 10-25, Safari 5.1-6;
    background: linear-gradient(to right, #27262a, #72697a); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+

    background-size: cover;
    background-attachment: fixed;
    position: relative;

}




/*-----------------------------------------------------------------------------*/
nav{
    text-align:right;
    padding: 30px 50px 0 0;
}    
    
nav > a{
    color:white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    color:yellow;
    text-decoration: underline;
      
}

.foto{

  display: block;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;

    
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


h1 {
    position: relative;
    margin-top: 20px;
    color:white;
    font-size: 50px;
    text-align: center;
}

#frase {
    color: orange;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}


h2 {
    color:grey;
    text-align:center;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}





p {
    position: relative;
    color: gray;
    font-size:x-large;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    text-align: justify;
    
}

img {
  padding: auto;
  width: 100px;
  margin-top: 25px;
  margin-bottom: 1px;
  margin-left: 80px;
  margin-right: 70px;
  

    
    
}

ul{
    color: gray;
    font-size:x-large;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 30px;
    text-align: justify;
}

.pie{
    text-align:center;
    padding: 30px 50px 0 0;

}

.pie > a{
    color:grey;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

};

.pie > a:hover{
    color:yellow;
    text-decoration: underline;
      
};
